.subscribe-btn{
    background:#202D2C;
    color:white;
    border-color:white;
}
.next-btn{
    background:transparent;
    color:#202D2C;
    border: 2px solid #202D2c;
    margin-top:1em;
}
.next-btn:hover{
    background:#202D2c;
    color:transparent;
    border:2px solid white;
}
.next-btn:focus{
    background:#202D2C;
    color:white;
}
.next-btn:active{
    background:#202D2C;
}
.filter-nav{
    display:inline;
}
.filter-item{
    border-left:1px solid gray;
    border-right:1px solid gray;
    margin-right:1em;
}
.filter-item>a:hover{
    color:white!important;
}
.filter-item:hover{
    background-color:darkslategrey;
}
.filter-item-active{
    background-color:darkslategrey;
}
.content-container-home{
    min-height:800px;
    background-color:#E8E8E8;
}
.buffer-space{
    height:50px;
}
.posts-box-container{
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:30px;
    width:99%;
}
.post-card{
    margin-top: 1em;
    margin-right:1em;
    background-color:white;
    box-shadow: 6px 6px grey;
}
.post-card:hover{
    box-shadow: 2px 2px grey;
    cursor:pointer;
}
.post-card-content{
    padding-left:1em;
    padding-right: 1em;

}
.post-card-header{
    background-color:darkslategrey;
    padding-top:.5em;
    padding-bottom:.1em;
}
.post-card-content>h1{
    font-size:120%;
    font-weight:bold;
    color:white;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0.2em;
    padding-bottom:0.2em;
}
.post-card-content>p{
    margin-top:0.5em;
}