.remove-link{
    color:#9D9D9D;
}
.remove-link:hover{
    color:white;
    text-decoration: none;
}
.nav-btn:hover{
    background-color:#202D2C;
}
.pl-1{
    padding-left:1.25em;
}
#search-bar-form{
    margin-top:.25em;
}
#search-bar{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}